*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family:'Courier New', Courier, monospace; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bannerPhoto img{
    height: 100vh;
}
.bannerText, .bannerPhoto{
    width: 30vw;
}
.pinkButton{
    background-color:  #E55473;
    padding:20px 43px;
    border-radius: 10px;
    color: white;
    border: none;
}
/* main section */
/* section1 */
.section1, .section3{
    margin: 5% 10%;
}
.section1{
    height: 110vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pb{
    
    position: relative;
    height: 300px;
    width: 300px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    align-items: center;
    background-position: center;
}
.pb1{
    background-color: #A7216226
}
.pb2{
    background-color: #0597A026;
}
.pb3{
    background-color: #477D1126;
    align-items: center;
}
/* .subSec121 .pb3 img{
    right:30px;
} */
.pb img{
    position: absolute;
    bottom: 0px;
    right:50px;
}
.subSec12{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.subSec13{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 30px ;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.subSec131 p{
    font-size: smaller;
}
.section2{
    margin: 20vh 0vw;
}
.discount{
    background-color: #E554730D;
    display: flex;
    justify-content: center;
    gap: 7vw;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.discountText{
    width: 30vw;
}
.subSec31, .subSec32,.subSec33{
    margin-top: 5%;
    margin-bottom: 5%;
}
.subSec31{
    text-align: center;
}
.subSec32{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.subSec32 img{
    height: 250px;
}
.subSec33{
    height: 50vh;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: 66vw 50vh;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}
.subSec33 input{
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.subSec33 form{
    display: flex;
    gap: 10px;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 50vh;
    color: white;
    justify-content: center;
    align-items: center;
}
.pinkword{
    color: #E55473;
}
#copyright{
    color:#FFFFFF66
}
.flowerVase{
    /* height: 100 vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 0px ;
    background-color:rgba(39, 39, 39, 0.05);
}
.headingVase{
    padding: 5%;
    text-align: center;
}
.vase1 ,.vase3{
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    margin: 0px 5%;
    border-radius: 10px;
}
.vase3{
    background-image: linear-gradient(to right, rgb(71, 71, 185) , white);
}
.vase2{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    margin: 0px 5%;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgb(119, 53, 119),white);
}
.vase1{
    background-image: linear-gradient(to right, #ade037,white);
}
.vaseInfo{
    width: 30vw;
}
